body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.content {
  border: 1px solid #e0e0e0;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  background-color: #fff;
}

/* Hide all result sections by default */
.result {
  display: none;
}

/* Image styling */
.result img {
  max-width: 250px; /* Setting a consistent width for images */
  margin: 20px auto; /* Centers the image and gives space above and below */
  display: block; /* To allow for centering with auto margins */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
  border: 2px solid #e0e0e0; /* Slight border around image */
  border-radius: 8px; /* Rounded corners */
}
